.DS_Store
*.xcodeproj
xcuserdata/
build/
DerivedData/
.deriveddata/

# Tuist
*.xcworkspace
!*.xcworkspace/xcshareddata
.tuist-bin/
.tuist-version
Derived/

# Release
.env.release
*.xcarchive

# Agent
docs/superpowers
.sisyphus/
